<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />

	</settings>
	<typeAliases>
		<typeAlias type="com.mycomp.javablog.domain.User"
			alias="user" />

		<typeAlias type="com.mycomp.javablog.domain.Address"
			alias="address" />

		<typeAlias type="com.mycomp.javablog.domain.GeoLocation"
			alias="geoLocation" />

		<typeAlias type="com.mycomp.javablog.domain.Company"
			alias="company" />
			
		<typeAlias type="com.mycomp.javablog.domain.BlogPost"
			alias="blogPost" />
			
		<typeAlias type="com.mycomp.javablog.domain.UserBlogs"
			alias="userBlogs" />
			
		<typeAlias type="com.mycomp.javablog.domain.BlogAudit"
			alias="blogAudit" />

	</typeAliases>

</configuration>