<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycomp.javablog.mapper.JavaBlogMapper">

	<insert id="insertBlogAudit" useGeneratedKeys="true"
		keyProperty="id" keyColumn="id" parameterType="blogAudit">
		insert into
		BLOG_AUDIT(blogPostId,blogTitle,blogBody,
		createdBy,action,actionedTime)
		values(#{blogAudit.blogPostId},#{blogAudit.blogTitle},#{blogAudit.blogBody},#{blogAudit.createdBy},#{blogAudit.action},CURRENT_TIMESTAMP)
	</insert>

</mapper>
 